/* gatsby-remark-code-titles */
.gatsby-code-title {
  font-size: 0.8rem;
  margin-bottom: -0.6rem;
  padding: 0.5em 1em;
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  background-color: black;
  color: gray;
  z-index: 0;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #dfe3e6;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: 'Menlo', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: black;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.2em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #546a90;
}

.token.punctuation {
  color: rgb(119, 116, 156);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f64150;
}

.token.boolean,
.token.number {
  color: #ffd400;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.inserted {
  color: #7984d1;
}

.token.builtin {
  color: #df85ff;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #60fff2;
}

.token.class-name {
  color: #a875ff;
}

.token.keyword {
  color: #61a6db;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
