.pill--life {
  /* color: #ffd4a0; */
  background-color: #f8b15a;
  filter: grayscale(100%);
}
.pill--design {
  /* color: #ffd6e8; */
  background-color: #9f1853;
  filter: grayscale(100%);
}
.pill--coding {
  /* color: #97b4b4; */
  background-color: #1f507a;
  filter: grayscale(100%);
}
.pill--webdesign {
  /* color: #e9baff; */
  background-color: #530e74;
  filter: grayscale(100%);
}
.pill--tech {
  /* color: #9cddc7; */
  background-color: #048056;
  filter: grayscale(100%);
}
